In [11]:
# Import c√°c th∆∞ vi·ªán c·∫ßn thi·∫øt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [12]:
# ƒê·ªçc file CSV
file_path = 'product_details.csv'  # ƒê∆∞·ªùng d·∫´n file
data = pd.read_csv(file_path)

# Hi·ªÉn th·ªã th√¥ng tin t·ªïng quan v·ªÅ d·ªØ li·ªáu
print("Th√¥ng tin t·ªïng quan v·ªÅ d·ªØ li·ªáu:")
print(data.info())
display(data.head())

Th√¥ng tin t·ªïng quan v·ªÅ d·ªØ li·ªáu:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   1070 non-null   object
 1   store_name     1068 non-null   object
 2   rating         1070 non-null   object
 3   comment_count  1070 non-null   object
 4   price          1070 non-null   object
 5   sold           1070 non-null   object
 6   link           1070 non-null   object
dtypes: object(7)
memory usage: 58.6+ KB
None

,product_name,store_name,rating,comment_count,price,sold,link
0,"[HCM]Th·∫ª nh·ªõ 64gb, Th·∫ª nh·ªõ camera YOOSEE Micro...",Kh√¥ng t√¨m th·∫•y c·ª≠a h√†ng,0,Kh√¥ng c√≥ ƒë√°nh gi√°,"‚Ç´84,800",594 sold,https://www.lazada.vn/products/hcmthe-nho-64gb...
1,"[HCM]Th·∫ª nh·ªõ 32gb, Th·∫ª nh·ªõ camera YOOSEE Micro...",Kh√¥ng t√¨m th·∫•y c·ª≠a h√†ng,0,Kh√¥ng c√≥ ƒë√°nh gi√°,"‚Ç´66,000",3.8K sold,https://www.lazada.vn/products/hcmthe-nho-32gb...
2,Th·∫ª nh·ªõ TF 16GB 32GB 64GB 128GB 256GB 512GB 1T...,Kh√¥ng t√¨m th·∫•y c·ª≠a h√†ng,0,Kh√¥ng c√≥ ƒë√°nh gi√°,"‚Ç´49,000",561 sold,https://www.lazada.vn/products/the-nho-tf-16gb...
3,Th·∫ª Nh·ªõ Kioxia 32GB v√† Th·∫ª Nh·ªõ Sandisk (64GB/1...,EZVIZ VN Authorized Store,5.0,750 ƒë√°nh gi√°,"‚Ç´159,000",2.8K sold,https://www.lazada.vn/products/the-nho-kioxia-...
4,Th·∫ª Nh·ªõ 32 gb ( Th·∫ª nh·ªõ d√†nh chuy√™n cho camera...,Kh√¥ng t√¨m th·∫•y c·ª≠a h√†ng,0,Kh√¥ng c√≥ ƒë√°nh gi√°,"‚Ç´25,000",96 sold,https://www.lazada.vn/products/the-nho-32-gb-t...

In [13]:
# B∆∞·ªõc 1: Ki·ªÉm tra v√† x·ª≠ l√Ω gi√° tr·ªã tr√πng l·∫∑p
print("\nS·ªë l∆∞·ª£ng gi√° tr·ªã tr√πng l·∫∑p tr∆∞·ªõc khi x·ª≠ l√Ω:", data.duplicated().sum())
data = data.drop_duplicates()
print("S·ªë l∆∞·ª£ng gi√° tr·ªã tr√πng l·∫∑p sau khi x·ª≠ l√Ω:", data.duplicated().sum())

S·ªë l∆∞·ª£ng gi√° tr·ªã tr√πng l·∫∑p tr∆∞·ªõc khi x·ª≠ l√Ω: 34
S·ªë l∆∞·ª£ng gi√° tr·ªã tr√πng l·∫∑p sau khi x·ª≠ l√Ω: 0

In [14]:
# B∆∞·ªõc 2: Ki·ªÉm tra v√† x·ª≠ l√Ω gi√° tr·ªã thi·∫øu
missing_values = data.isnull().sum()
print("\nS·ªë l∆∞·ª£ng gi√° tr·ªã thi·∫øu trong m·ªói c·ªôt:")
print(missing_values)

S·ªë l∆∞·ª£ng gi√° tr·ªã thi·∫øu trong m·ªói c·ªôt:
product_name     0
store_name       2
rating           0
comment_count    0
price            0
sold             0
link             0
dtype: int64

#### X·ª≠ l√Ω gi√° tr·ªã thi·∫øu:

In [15]:
# Lo·∫°i b·ªè c√°c d√≤ng c√≥ gi√° tr·ªã thi·∫øu
print("\nS·ªë l∆∞·ª£ng d√≤ng d·ªØ li·ªáu tr∆∞·ªõc khi x·ª≠ l√Ω store_name:", len(data))
data = data.dropna(subset=['store_name'])
print("S·ªë l∆∞·ª£ng d√≤ng d·ªØ li·ªáu sau khi x·ª≠ l√Ω store_name:", len(data))

S·ªë l∆∞·ª£ng d√≤ng d·ªØ li·ªáu tr∆∞·ªõc khi x·ª≠ l√Ω store_name: 1036
S·ªë l∆∞·ª£ng d√≤ng d·ªØ li·ªáu sau khi x·ª≠ l√Ω store_name: 1034

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1034 entries, 0 to 1069
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   1034 non-null   object
 1   store_name     1034 non-null   object
 2   rating         1034 non-null   object
 3   comment_count  1034 non-null   object
 4   price          1034 non-null   object
 5   sold           1034 non-null   object
 6   link           1034 non-null   object
dtypes: object(7)
memory usage: 64.6+ KB

In [17]:
# - Chuy·ªÉn ƒë·ªïi 'price' v√† 'sold' sang d·∫°ng s·ªë
data['price'] = pd.to_numeric(data['price'].str.replace('‚Ç´', '').str.replace(',', ''), errors='coerce')
data['sold'] = data['sold'].str.replace(' sold', '').str.replace('K', 'e3')
data['sold'] = pd.to_numeric(data['sold'], errors='coerce')


data = data.dropna(subset=['price', 'sold'])

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1033 entries, 0 to 1069
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   1033 non-null   object
 1   store_name     1033 non-null   object
 2   rating         1033 non-null   object
 3   comment_count  1033 non-null   object
 4   price          1033 non-null   float64
 5   sold           1033 non-null   float64
 6   link           1033 non-null   object
dtypes: float64(2), object(5)
memory usage: 64.6+ KB

In [19]:
# # Ki·ªÉm tra c√°c gi√° tr·ªã kh√¥ng h·ª£p l·ªá trong 'price' v√† 'sold'
# print("Gi√° tr·ªã kh√¥ng h·ª£p l·ªá trong 'price':")
# print(data[~data['price'].str.replace('‚Ç´', '').str.replace(',', '').str.isnumeric()])  # Ki·ªÉm tra gi√° tr·ªã kh√¥ng h·ª£p l·ªá

# print("Gi√° tr·ªã kh√¥ng h·ª£p l·ªá trong 'sold':")
# print(data[~data['sold'].str.replace(' sold', '').str.replace('K', 'e3').str.isnumeric()])  # Ki·ªÉm tra gi√° tr·ªã kh√¥ng h·ª£p l·ªá

# # X·ª≠ l√Ω c√°c gi√° tr·ªã kh√¥ng h·ª£p l·ªá (n·∫øu c·∫ßn)
# data['price'] = data['price'].str.replace('‚Ç´', '').str.replace(',', '').replace('', np.nan)  # Thay th·∫ø gi√° tr·ªã r·ªóng b·∫±ng NaN
# data['sold'] = data['sold'].str.replace(' sold', '').str.replace('K', 'e3').replace('', np.nan)  # Thay th·∫ø gi√° tr·ªã r·ªóng b·∫±ng NaN

# # Chuy·ªÉn ƒë·ªïi sang d·∫°ng s·ªë
# data['price'] = pd.to_numeric(data['price'], errors='coerce')
# data['sold'] = pd.to_numeric(data['sold'], errors='coerce')

# # Lo·∫°i b·ªè c√°c d√≤ng c√≥ gi√° tr·ªã null trong 'price' ho·∫∑c 'sold'
# data = data.dropna(subset=['price', 'sold'])

In [20]:
# X·ª≠ l√Ω comment_count
# - Thay th·∫ø gi√° tr·ªã "kh√¥ng c√≥ b√¨nh lu·∫≠n" b·∫±ng NaN
data['comment_count'] = data['comment_count'].replace('Kh√¥ng c√≥ ƒë√°nh gi√°', np.nan)

# - Tr√≠ch xu·∫•t s·ªë l∆∞·ª£ng b√¨nh lu·∫≠n t·ª´ chu·ªói
data['comment_count'] = data['comment_count'].str.extract(r'(\d+)').astype(float)

data = data.dropna(subset=['comment_count'])

data.head()

,product_name,store_name,rating,comment_count,price,sold,link
3,Th·∫ª Nh·ªõ Kioxia 32GB v√† Th·∫ª Nh·ªõ Sandisk (64GB/1...,EZVIZ VN Authorized Store,5.0,750.0,159000.0,2800.0,https://www.lazada.vn/products/the-nho-kioxia-...
9,‚ô•COD + Th·∫ª Nh·ªõ Micro SD TOSHIBA Ch√≠nh H√£ng Ch√≠...,sbiqdn store,4.6,1016.0,32000.0,4700.0,https://www.lazada.vn/products/cod-the-nho-mic...
16,üíû„ÄêReadystock„Äë + Giao h√†ng mi·ªÖn ph√≠ + c√° tuy·∫øtüíû...,AUGUST-MALL ZERO,4.5,95.0,69000.0,281.0,https://www.lazada.vn/products/readystock-giao...
21,Sony Th·∫ª nh·ªõ Micro SD 32GB/64GB/128GB/256GB/51...,Electronic Collection Shop,4.7,36.0,75000.0,48.0,https://www.lazada.vn/products/sony-the-nho-mi...
25,Th·∫ª nh·ªõ 2G Th·∫ª Nh·ªõ Micro SD Dung L∆∞·ª£ng 2G Giao...,KEN warehouse,5.0,3.0,22000.0,41.0,https://www.lazada.vn/products/the-nho-2g-the-...

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 549 entries, 3 to 1068
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   549 non-null    object
 1   store_name     549 non-null    object
 2   rating         549 non-null    object
 3   comment_count  549 non-null    float64
 4   price          549 non-null    float64
 5   sold           549 non-null    float64
 6   link           549 non-null    object
dtypes: float64(3), object(4)
memory usage: 34.3+ KB

In [23]:
# B∆∞·ªõc 3: Chu·∫©n h√≥a d·ªØ li·ªáu
# Ch·ªâ chu·∫©n h√≥a c√°c c·ªôt s·ªë
numeric_cols = ['price', 'sold']
scaler = StandardScaler()
data_scaled = scaler.fit_transform(data[numeric_cols])

# Chuy·ªÉn d·ªØ li·ªáu ƒë√£ chu·∫©n h√≥a th√†nh DataFrame
scaled_df = pd.DataFrame(data_scaled, columns=[f"{col}_scaled" for col in numeric_cols])

# K·∫øt h·ª£p d·ªØ li·ªáu g·ªëc v√† d·ªØ li·ªáu ƒë√£ chu·∫©n h√≥a
final_data = pd.concat([data.reset_index(drop=True), scaled_df], axis=1)



# B∆∞·ªõc 3: L∆∞u d·ªØ li·ªáu v√†o file CSV duy nh·∫•t
output_path = 'preprocessing.csv'
final_data.to_csv(output_path, index=False)
print(f"\nD·ªØ li·ªáu cu·ªëi c√πng ƒë√£ ƒë∆∞·ª£c l∆∞u t·∫°i: {output_path}")

D·ªØ li·ªáu cu·ªëi c√πng ƒë√£ ƒë∆∞·ª£c l∆∞u t·∫°i: preprocessing.csv